@inject SignInManager<AppUser> _signInManager;


<ul class="navbar-nav">

    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item"><a class="nav-link text-dark">Hello, @User.Identity.Name</a></li>
        <li class="nav-item">
            <form asp-action="Logout" asp-controller="Account" method="post">
                <button type="submit" class="btn btn-outline-light text-dark">Logout</button>
            </form>
        </li>
    }
 else{
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account"asp-action="Register">Register</a></li>
        <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link text-dark">Login</a></li>
    }
</ul>